# General
.DS_Store
Thumbs.db
*.swp

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment Variables (Redundant safety)
.env
.env.*
!.env.example

# Platform (separate repo)
platform/
