# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtual Environments
venv/
env/
.env
.venv/

# Environment Variables
.env
.env.*
!.env.example

# IDEA / VSCode
.idea/
.vscode/
*.swp
